@model IEnumerable<RentMojoWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRent) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentSubType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentSubType.SubTypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
